.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 12px 0;
}

.title {
    grid-area: 1 / 1 / 2 / 12;
}
.value {
    font-weight: bold;
    font-size: 16px;
    grid-area: 1 / 12 / 2 / 13;
}
