$padding: 20px 30px;
.title {
    // padding-bottom: 20px;
    padding-top: 0;
}
.container {
    // padding: 20px 30px;
}
.content {
    padding: $padding;
}
.rootHader {
    padding: 20px 30px;
    border-bottom: 1px solid #ededed;
}
