@import "../../style/theme.scss";

.container {
  margin-bottom: 30px;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.firstTab {
  background-color: $primary !important;
  color: #000;
  height: 73px;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  width: 75px;
  min-width: 70px;
}
.labelIconFirst {
  color: #000;
}
.homeIcon {
  color: #000;
}
